@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap'); /* Google Font Roboto */

.remove-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

article.branded_aankeiler {
    padding: 0 10px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

a.aankeiler_branded_link {
    text-decoration: none;
}

a.aankeiler_branded_link:visited {
    text-decoration: none;
}

/*Content Wrapper*/
.aankeiler_branded_content-wrapper__news,
.aankeiler_branded_content-wrapper__full {
    width: 100%;
    height: 280px;
}


.aankeiler_branded_container__news,
    .aankeiler_branded_container__full {
        margin-top: 5px;
    }

    .aankeiler_branded_container__news h3,
    .aankeiler_branded_container__full h3, {
        margin: 0;
    }

    .branded_aankeiler:hover a div div h3 {
        text-decoration: underline;
    }

    .aankeiler_branded_container__full {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 20% 0 15px 0;
        text-align: left;
        width: 100%;
    }

    .aankeiler_branded_container__full .aankeiler_branded_subtitle {
        padding: 0 10px;
    }

        /*Teaser - Subtitle*/
        .aankeiler_branded_subtitle {
            margin: 0 0 5px;
            color: #973d98;
            font-size: 13px;
            font-weight: 900;
            line-height: 16px;
        }

        .aankeiler_branded_subtitle span {
            font-weight: 300;
        }

        .aankeiler_branded_container__news .aankeiler_branded_subtitle span {
            color: #111;
        }

        .aankeiler_branded_container__full .aankeiler_branded_subtitle span {
            color: #fff;
        }

        /*Teaser - Title*/
        .aankeiler_branded_title__news {
            margin: 0;
            color: #111;
            font-size: 22px;
            line-height: 25px;
        }

        /*Gradient*/
        .gradient {
            background: -moz-linear-gradient(to top,rgba(0, 0, 0, .7),rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background: -webkit-linear-gradient(to top,rgba(0, 0, 0, .7),rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            background: linear-gradient(to top,rgba(0, 0, 0, .7),rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
            z-index: 0;
            margin: 0;
        }

.aankeiler_branded_content-wrapper__news,
.aankeiler_branded_content-wrapper__full {
    position: relative;
    overflow: hidden;
    font-family: 'Roboto',Arial,Helvetica Neue,Helvetica,"sans-serif";
    letter-spacing: -0.3px;
}

/*Visuals*/
    /*News visuals*/
    .aankeiler_branded_visual_container__news {
        overflow: hidden;
    }

    /*Full visuals*/
    .aankeiler_branded_visual_container__full {
        height: 100%;
        overflow: hidden;
    }

/*End visuals*/