.hidden {
    display: none;
}

.directory {
    padding: 20px;
    display: inline-block;
}
.container svg,
.container img {
    display: block;
} .container svg {
    margin: 0 auto;
} .container img {
    margin: 0 auto 6px;
}

#map_open {

}

#map_closed {
    display: none;
}

a.directory:hover div.container #map_open {
    display: none;
}
a.directory:hover div.container #map_closed {
    display: block;
}

sub {
    text-align: center;
}

.dropdown {
    position: absolute;
}